@media (max-width: 750px) {
    body {
        font-size: 12px;
    }

    .nba {
        flex-direction: column;
        padding: 30px 0;
    }

    picture img {
        max-width: 300px;
    }

    .card-player {
        max-width: 300px;
    }

    .card-player .card-imagem {
        width: 200px;
        height: 200px;
    }

    .card-player .card-info {
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .card-player .card-info .info {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .card-player .card-info h3 {
        font-size: 16px;
    }

    .lista {
        max-width: 300px;
    }

    .lista ul {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .lista .jogador {
        width: 140px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .lista .jogador span {
        padding-right: 5px;
    }
}